DATABASE_URL="YOUR_DATABASE_URL_HERE"
PORT=5000
APP_URL=http://localhost:5000
NODE_ENV=development
JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET_HERE
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET_HERE
JWT_ACCESS_EXPIRATION=1d
JWT_REFRESH_EXPIRATION=7d
BCRYPT_SALT_ROUNDS=10
FRONTEND_URL=http://localhost:3000
SSL_STORE_ID=YOUR_SSL_STORE_ID_HERE
SSL_STORE_PASSWORD=YOUR_SSL_STORE_PASSWORD_HERE
SSL_SUCCESS_URL=http://localhost:5000/api/v1/payments/confirm
SSL_FAIL_URL=http://localhost:5000/api/v1/payments/confirm
SSL_CANCEL_URL=http://localhost:5000/api/v1/payments/confirm
SSL_IS_LIVE=false
ADMIN_NAME=YOUR_ADMIN_NAME_HERE
ADMIN_EMAIL=YOUR_ADMIN_EMAIL_HERE
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD_HERE
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback
SESSION_SECRET=YOUR_SESSION_SECRET_HERE
